@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Montserrat';
    src: url('@/assets/fonts/Montserrat-Black.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Muller';
    src: url('@/assets/fonts/Muller Bold.ttf');
    font-weight: 800;
}
@font-face {
    font-family: 'PP Pangram Sans Rounded';
    src: url('@/assets/fonts/PP Pangram Sans Compact Regular 400.otf');
    font-weight: 400;
}



.container {
    width: 100%;
    max-width: 1480px;
    margin: 0 auto;
}

.container-wide {
    width: 100%;
    max-width: 1678px;
    margin: 0 auto;
}

.title {
    font-family: 'Muller';
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    letter-spacing: 0.025em;
    color: #6F4C30;
    background: #fbf8f4;
}

@media (max-width: 1780px) {
    .container, .container-wide {
        max-width: calc(100% - 100px);
    }
}