<div class="popup">
    <div class="popup__overlay">
        <div class="popup__container">
            <div class="popup__close">
                <img src="./img/icons/close.svg" alt="close" class="popup__close">
            </div>
            <input type="text" class="popup__input add-user__name" placeholder="Введите имя пользователя">
            <input type="text" class="popup__input menu-page__input add-user__nickname" placeholder="Введите логин пользователя">
            <label for="" class="popup__label">
                <div class="popup__custom-chb"></div>
                <input type="checkbox" name="" id="" class="popup__checkbox">
                <span class="popup__checkbox-text">Сделать администратором</span>
            </label>
            <button class="popup__button js-add-user">
                Добавить
            </button>
        </div>
    </div>
</div>