<div class="popup">
    <div class="popup__overlay">
        <div class="popup__container">
            <div class="popup__close">
                <img src="./img/icons/close.svg" alt="close" class="popup__close">
            </div>
            <p class="popup__title">
                Возможность войти в личный кабинет предоставляется после оплаты какого-либо тарифа и выдачи личного логина
            </p>
            <input type="text" class="popup__input" placeholder="Введите логин пользователя">
            <button class="popup__button">
                Войти
            </button>
        </div>
    </div>
</div>