<div class="popup">
    <div class="popup__overlay">
        <div class="popup__container">
            <div class="popup__close">
                <img src="./img/icons/close.svg" alt="close" class="popup__close">
            </div>
            <input name="name" type="text" class="popup__input" placeholder="Название упражнения">
            <input name="times" type="text" class="popup__input menu-page__input" placeholder="Подходы">
            <textarea name="descr" placeholder="Описание" class="popup__textarea"></textarea>
            <input name="img" type="text" class="popup__input menu-page__input" placeholder="Ссылка на GIF">
            <button class="popup__button--not-close js-add-train">
                Добавить тренировку
            </button>
        </div>
    </div>
</div>