<div class="table">
    <div class="table__coll" :key="i" v-for="tableColl, i of coll">
        <template v-if="tableData[tableColl - 1]">
            <div class="table__row" v-for="cell, j of tableData[tableColl - 1]" :key="j">
                <input 
                    v-if="j === 0"
                    type="text" 
                    class="table__input" 
                    :value="cell" 
                    disabled
                    v-mask="'##.##.####'" />
                <input 
                    v-else
                    type="text" 
                    class="table__input" 
                    :value="cell" 
                    disabled
                    v-mask="['#см', '##см', '###см']" />
            </div>
        </template>
        <template v-else>
            <template v-if="tableData.length === i">
                <div class="table__row" v-for="cell, j of row" :key="j">
                    <input 
                        v-if="j === 0"
                        type="text" 
                        class="table__input" 
                        :value="''" 
                        v-mask="'##.##.####'" />
                    <input 
                        v-else
                        type="text" 
                        class="table__input" 
                        :value="''" 
                        v-mask="['#см', '##см', '###см']" />
                </div>
            </template>
            <template v-else>
                <div class="table__row" v-for="cell, j of row" :key="j">
                    <input 
                        v-if="j === 0"
                        type="text" 
                        class="table__input" 
                        :value="''" 
                        disabled
                        v-mask="'##.##.####'" />
                    <input 
                        v-else
                        type="text" 
                        class="table__input" 
                        :value="''" 
                        disabled
                        v-mask="['#см', '##см', '###см']" />
                </div>
            </template>
        </template>
    </div>
</div>  